<!DOCTYPE html>
<html>

<body>
  <style>
<p {
    font-family: Arial;
}

body {
    background-color: lightblue;
}

p.italic {
    font-style: italic;
}

p style="color:MediumSeaGreen;"


 



      
        
  
 
