.pagina{
  background-color:rgb(138, 43, 226);
  height: auto;
  width:auto;
  margin: auto;
}
.grid{
  display: grid;
  border: 1px red solid;
  width: 1000px;
  height: 1000px;
  grid-template: 2fr,2fr,2fr/repeat(3,2fr)
}

.regel1{
  float:left;
  width:auto;
  height: auto;
  
 .box{
   background-color: tomato;
   color:black;
   border-radius:20px;
   border:5px blue solid;
   
  }
  
  .rectangle{
    float:left;
    height: 50px;
    width: 100px;
  }
  
  .blok1{
    backround-color:rgb(138, 43, 226);
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
  }
    
  
 
  

  
  
